<ion-view view-title="Dashboard">
  <ion-content class="padding" has-header="true">
    <div class="list card">
      <div class="item item-divider">Monitoreo</div>
      <div class="item item-body">
        <div>
            <button ng-click="encenderMonitoreo()">Encender Monitoreo</button>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Ranging</div>
      <div class="item item-body">
        <div>
          <button ng-click="startRanging()">Encender Ranging</button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
